@charset "utf-8";

/* --- RESETS --- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}

.hide {
	display: none;
}

strong {
	font-weight: bold;
}

.clear {
	clear: both;
}

.alignleft {
	float: left;
	margin: 0 15px 10px 0;
}

.alignright {
	float: right;
	margin: 0 0 10px 15px;
}

/* --- BASIC STYLES --- */

html, body {
	height: 100%;
}

body {
		/*background: #f9f7f3 url(../images/bg_main.jpg) top left repeat-x;
	font: 12px/18px Helvetica, "Lucida Grande", Verdana, sans-serif;*/
	color: #787878;

}

a, a:hover, a:active, a:visited {
	color: #787878;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 10px;
}



/* --- MAIN CONTENT - HOMEPAGE --- */
#logosplash {
background: #f9f7f3 url(../images/bg_main.jpg) top left repeat-x;

}
	

.corners { -moz-border-radius: 10px; -webkit-border-radius: 10px; }


.footer{
	margin: 0 auto;
	text-align: center;
	background-color:#ffffff;
	font:15px/20px "Helvetica Neue",Arial,Sans-serif;
	margin:80px 20x 20x 20x;
	padding:20px 0px;
	zoom:1;
	border-top: 5px solid gray;
}


.copyright{
	background-color:#E6E7E8;
	font:15px/20px "Helvetica Neue",Arial,Sans-serif;
	margin:80px 20x 20x 20x;
	padding:0px 0px;
	zoom:1;
	border: 0px solid gray;
}
	
.container{
	/*width: 1000px;
	margin: 0 auto;
	text-align: left;*/
	
	background-color:#E6E7E8;
	border: none solid #c8c8c8;-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font:15px/20px "Helvetica Neue",Arial,Sans-serif;
	margin:80px 20x 20x 20x;
	padding:20px 0px;
	zoom:1;
}



.topsearch{float:none;margin-top:9px;}
.topsearch form,.topsearch ul.nav{float:none;}

ul.nav{margin:3px 0 0 0;white-space:nowrap;font-size:11px;}
ul.nav li{list-style-type:none;display:inline;margin:0 15px 0 0;}
ul.nav.logged_out{padding:8px 3px 8px 2px;font-size:12px;font-weight:bold;text-shadow:1px 1px 0 #fff;overflow:auto;}
ul.nav.logged_out li{float:left;margin:0;padding:0 11px 0 13px;background:url(../images/nav-rule.png) 0 50% no-repeat;}
ul.nav.logged_out li:first-child{background:transparent;}
ul.nav.logged_out,.userbox{background:#f5f5f5;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fcfcfc',endColorstr='#ececec');background:-webkit-gradient(linear,0% 0,0% 100%,from(#fcfcfc),to(#e8e8e8));background:-moz-linear-gradient(270deg,#fcfcfc,#ececec);border-color:#eee;border:1px solid #e9e9e9;border-bottom-color:#f5f5f5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);}
.ie7 .userbox,.ie7 ul.nav.logged_out,.ie8 .userbox,.ie8 ul.nav.logged_out{border-bottom-color:#ddd;}

/* THIS IS A NEW LINE ADDED */
ul.nav.logged_out a:hover {
text-decoration:none;
color:#ED6A34;
}

#showcase {
	/* width: 1000px;*/
	overflow: hidden;
	margin: 0 0 0 0;
		color: #FFFFFF;
}

#how_works {
	/* width: 1000px;*/
	overflow: hidden;
	margin: 0 0 0 0;
}

#benefits {
	/*float: left;
	background: url(../images/bg_services.png) top right no-repeat;*/
	font: 12px/18px Helvetica, "Lucida Grande", Verdana, sans-serif;
	padding: 20px 0 0 0; 
	font-size: 12px;
}

#benefits ul {
	overflow: hidden;
}

#benefits ul li {
	width: 160px;
	float: left;
	 padding: 0px 20px 0 75px; 
	 list-style: none;
	 /* width + left padding = 280 + 20 (benefit float) = 300 or grid 8 */
}

#benefits ul li.power {
	background: url(../images/power.jpg) top left no-repeat;
}

#benefits ul li.choose {
	background: url(../images/choose2.png) top left no-repeat;
}

#benefits ul li.clock {
	background: url(../images/clock.png) top left no-repeat;
}

#benefits ul li.list {
	background: url(../images/list.png) top left no-repeat;
}

#benefits ul li h4 {
	font-weight: bold;
	color: #2d2d2d;
}

#why_wait {
	/* width: 1000px;*/
	overflow: hidden;
	margin: 0 0 0 0;
}

.signup-entice {
    padding: 15px 0;text - align: center;font - size: 16px;color: #666;}
.signup-entice p{margin-bottom:0;}
.signup-entice p a{font-weight:bold;}

.signup-button{
display:inline-block;padding:15px 30px;
text - shadow: -1px - 1px 0 rgba(0, 0, 0, 0.25);
font - size: 12px;
background: #286da3;filter:progid:DXImageTransform.Microsoft.gradient(GradientType= 0,startColorstr = '#50b7d1', endColorstr = '#286da3');
background: -webkit - gradient(linear, left top, left bottom, from(#50b7d1),to(# 286da3));
background: -moz - linear - gradient(top, #50b7d1,# 286da3);
border: 1px solid #51a0b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);box-shadow:0 1px 4px rgba(0,0,0,0.3);-webkit-font-smoothing:antialiased;}

a.signup-button:hover{
text-decoration:none;
background:# 328fc9;
background: -webkit - gradient(linear, 0 % 0, 0 % 100 % , from(#66c7e5),to(# 328fc9));
background: -moz - linear - gradient(-90deg, #66c7e5,# 328fc9);
filter: progid: DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#66c7e5', endColorstr = '#328fc9');
}

.signup - button strong {
    display: block;color: #fff;font - size: 20px;
}.signup - button em {
    font - weight: bold;font - style: normal;color: #c8ecff;
}




.orangebutton {
	display:inline-block;
	color: #fef4e9;
	border: solid 1px #da7c0c;
	/*text - shadow: -1px - 1px 0 rgba(0, 0, 0, 0.25);
	 font-family: your favorite font; */
	font-size: 16px;
	padding: 15px 30px;
	font-weight: bold;
	text-decoration: none;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orangebutton:hover {
	background: #f47c20;
	color: #ffffff;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orangebutton:active {
	color: #fcd3a5;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

orangebutton::-moz-focus-inner {
border: 0;
}




/*
Theme Name: name
Theme URI: http://
Description: An elegant, flexible theme originall developed by <a href="http://extralogical.net/">Ben Eastaugh</a> and <a href="http://ceejayoz.com/">Chris Sternal-Johnson</a>, and modified by <a href="http://qelix.com/">Ebrahim Ezzy</a>.
Author: Benedict Eastaugh, Chris Sternal-Johnson and Ebrahim Ezzy
Author URI: http://qelix.com/
Version: 1.4
Released under the <a href="http://www.opensource.org/licenses/gpl-license.php">GPL</a>.
*/

html, body, form, fieldset {
	margin:0;
	padding:0;
}
form label {
	cursor:pointer;
}
fieldset {
	border:none;
}
input, select, textarea {
	font-size:100%;
}
body {
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-size:76%;
	line-height:120%;
	color:#404040;
	min-width:760px;
	padding-top:2px;
	background:#ccc;
}
#wrapper {
	width:950px;
	text-align:left;
	background:#fff;
	overflow: hidden;
}
#content {
	clear:both;
	width: auto;
	overflow: hidden;
	background:url(images/dotted.gif) repeat-y 499px 0;		
}
#footer, #theme-info, #footer-include {
	clear:both;
}
.primary {
	position:relative;
	width:500px !important;
	padding: 0 0 0 5px;
	
}
body.janus .primary {
	float:left;
}
.primary-span {
	clear:both;
	padding:0;
}
body.janus .primary-span {
	padding:0;
}
.secondary {
}
body.janus .secondary {
}
.secondary-span {
	clear:both;
}
body.janus .secondary-span {

}
.mcol {	

width: 500px;
overflow: hidden;
float: left;
}
.secondary2 {
	float: right;
	width: 450px;
	overflow: hidden;
	padding: 0 0 20px;
}
.col2 {
	width:210px;
	font-size:10px !important;
	overflow: hidden;
	float: left;
	padding:10px 0 0 15px;
}
.secondary_inner_2 {
position: relative;
float: left;
padding-top:10px;
overflow: hidden;


}
.col3 {
	float:left;
	width:230px;
	overflow: hidden;	
	font-size:10px !important;
}
.col3 .grey_box {
	background: #999;
	padding: 10px;
	margin: 0 0 10px;
}
.secondary_inner_heading {
	border-bottom:1px solid #ccc;
	clear:both;
}
.secondary_list {
	margin:0 5px 15px;
	padding:0;
	list-style:none;
}
.secondary_list li {
	margin:0;
	padding:0;
	line-height:1.5;
}
.secondary_list li.rss {
	background:url(images/49.png) no-repeat 105px;
}
.secondary_list li a, active, visited {
	color:#fff;
}
.secondary_list li a:hover {
	color:#ff6600;
}




.clear {
	clear:both;
	margin:0;
	padding:0;
}
body.center #wrapper {
	margin:0 auto;
}
body.left #wrapper {
	margin:0 auto 0 0;
}
body.center {
	text-align:center;
}
body.left {
	text-align:left;
}
.logo {
	background:#ff0;
	width:705px;
	float:left;
}
.beside_logo {
	height:80px;
	background:#999;
	position:absolute;
	z-index:10000;
	margin-top:-90px;
	margin-left:706px;
	width:210px;
	cursor:pointer;
}
.headerimage {
	padding:20px 10px 0;
}
.noheaderimage {
	padding:20px 20px 0;
}
#title {
	border-bottom:1px dotted #989898;
}
#navigation {
	width: 450px;
	overflow: hidden;
	float:right;
}
#navigation ul.primary {
	list-style:none;
	margin:0;
	padding:0.5em 0;
}
#navigation ul.primary li {
	display:inline;
	margin:0 1em 0 0;
}
#navigation div.secondary {
	position: relative;
}
#navigation div.secondary p {
	margin:0;
}
body.janus #navigation .secondary p, body.janus #theme-info .secondary p {
	text-align:right;
}
#wrapper .nav-current:link, #wrapper .nav-current:visited, #wrapper .nav-current:active {
	color:#404040;
}
#wrapper .nav-current:hover {
	color:#f90;
}
.feed {
	font-size:0.8em;
	padding:5px 0 5px 20px;
	background:url('') no-repeat 0 50%;
}
body.janus #wrapper .feed {
	padding:5px 20px 5px 0;
	background:url('') no-repeat 100% 50%;
}
#navigation:after, .comment:after, .trackback:after, #comments .meta:after, #trackback-link:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#navigation, .comment, .trackback, #comments .meta, #trackback-link {
	display:block;
}
* html #navigation, * html .comment, * html .trackback, * html #comments .meta, * html #trackback-link {
	height:1%;
}
p {
	margin:0 0 1em;
}
blockquote {
	color:#a8a8a8;
	margin:0 0 1em;
	padding:0 30px;
}
strong {
	font-weight:700;
}
em {
	font-style:italic;
}
code, pre {
	font-family:'Courier New', Courier, monospace;
	font-size:1em;
	color:#7ca653;
}
acronym, abbr {
	border-bottom:1px solid #8fb7bf;
}
small {
	font-size:0.8em;
}
sup, sub {
	font-size:75%;
}
hr {
	width:100%;
	height:1px;
	color:#ccc;
	border:none;
	margin:1em 0;
	padding:0;
	background:#ccc;
}
ul, ol {
	margin:0 0 1em 30px;
	padding:0;
}
ul {
	list-style:disc;
}
li {
	margin:0 0 0.25em;
}
pre {
	overflow:scroll;
	margin:0 0 1em;
	padding:0 0 0.5em;
}
.primary pre {
	width:500px;
}
.secondary pre {
	width:200px;
}
.content p {
	line-height:1.5;
	padding-right:10px;
}
.content li {
	line-height:1.4;
}
#blog-title {
	font-family:'Minion', Times, serif;
	font-size:2.5em;
	font-weight:400;
	border:none;
	line-height:120%;
	margin:0;
	padding:0;
}
#tagline {
	font-family:'Times New Roman', Times, serif;
	font-size:1.5em;
	font-weight:400;
	font-style:italic;
	color:#a8a8a8;
	border:none;
	line-height:120%;
	margin:0.1em 0 0.3em;
	padding:0;
}
h1, .entry .title {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:1.4em;
	font-weight:700;
	line-height:120%;
	border-bottom:5px;
	color:#989898;
	margin:0;
	padding:0 0 1.1em;
}
h2 {
	font-family:'Times New Roman', Times, serif;
	font-size:2em;
	font-weight:400;
	line-height:120%;
	margin:0 0 0.5em;
}
h3 {
	font-size:0.8em;
	font-weight:400;
	color:#404040;
	text-transform:uppercase;
	letter-spacing:0.1em;
	margin:0 0 0.8em;
	padding:0 0 0.4em;
}
h4 {
	font-family:'Times New Roman', Times, serif;
	font-size:1.5em;
	font-weight:400;
	line-height:120%;
	margin:0 0 0.3em;
}
h5 {
	font-size:1em;
	font-weight:700;
	line-height:120%;
	margin:0 0 0.3em;
	padding:0;
}
h6 {
	font-size:0.8em;
	font-weight:700;
	line-height:120%;
	margin:0 0 0.3em;
	padding:0;
}
.articlenav {
	border-bottom:1px solid #e5e5e5;
	padding-top:0.75em;
	padding-bottom:0.75em;
	color:#a8a8a8;
	margin:0;
	background:#fcffff;
}
body.janus .articlenav {
	padding-top:0.75em;
	padding-bottom:0.75em;

	padding-left:5px;
}
.entry {
	clear:both;
	margin:0 0 4em;
	padding:10px 10px 0;
}
body.single .entry {
	margin:0 0 2em;
}
.entry .meta {
	margin:0 0 1em;
}
.entry .content a, active, visited {
	color:#ff6600;
}
.entry .content a:hover {
	color:#444;
}
.entry .content .akst_link a, active, visited {
	color:#444;
}
.entry .content .akst_link a:hover {
	color:#ff6600;
}
.entry .metadata {
	font-size:0.8em;
	color:#a8a8a8;
	margin:0;
	padding:0;
}
.entry .meta .metadata {
	/* border-bottom:1px dotted #989898;*/
	margin:0;
	padding:0.3em 0 0;
}
.aside {
	margin:0 0 4em;
}
.entry a:hover {
	color:#ff6600;
}
.aside .meta {
	border-top:1px dotted #d9d9d9;
	color:#a8a8a8;
	font-size:0.8em;
	text-align:right;
	clear:both;
	margin:-0.8em 0 0;
	padding:0.2em 0 0;
}
.archive .meta {
	margin:0 0 2em;
	padding:10px 0 0 10px;
}
.archive .content {
	margin:0 0 1em;
	padding:10px 0 0 10px;
}
.pagelinks {
	clear:both;
	font-size:0.8em;
	font-weight:700;
	margin:2.5em 0;
}
.pagelinks strong {
	color:#a8a8a8;
	border:1px solid #e5e5e5;
	margin:0 0.6em 0 0;
	padding:0.3em 0.6em;
}
.pagelinks a {
	border:1px solid;
	margin:0 0.6em;
	padding:0.3em 0.6em;
}
.pagination {
	font-family:'Times New Roman', Times, serif;
	font-size:1.5em;
	font-weight:400;
	line-height:120%;
	color:#a8a8a8;
	clear:both;
	margin:-3em 0 0;
	padding:2em 0;
}
.insertright {
	width:220px;
	float:right;
	margin:0 0 20px 20px;
}
.insertleft {
	width:220px;
	float:left;
	margin:0 20px 20px 0;
}
.insert {
	border:1px solid #cfe2e5;
	margin:0 0 1em;
	padding:9px;
	background:#fcffff;
}
.insert h3 {
	border-bottom:1px solid #cfe2e5;
}
body a.download {
	display:block;
	font-weight:700;
	margin:0 0 1em;
	padding:5px 5px 5px 36px;
}
body a.download:link, body a.download:visited, body a.download:active {
	border-top:1px solid #cfe2e5;
	border-bottom:1px solid #cfe2e5;
	background:url('images/download.gif') no-repeat 10px 50% #fcffff;
}
body a.download:hover {
	border-top:1px solid #e5cfd2;
	border-bottom:1px solid #e5cfd2;
	background:url('images/download.gif') no-repeat 10px 50% #fffafb;
}
a img {
	border:0;
}
a:hover img {
	border:0;
}
#wrapper a.imagelink:link, #wrapper a.imagelink:visited, #wrapper a.imagelink:hover, #wrapper a.imagelink:active {
	border:none;
}
.imageleft {
	float:left;
	margin:0 10px 10px 0;
}
.imageright {
	float:right;
	margin:0 0 10px 10px;
}
.imageblock {
	display:block;
	margin:0 0 1em;
}
.imagecentre, imagecenter /* For the colonists amongst you... */ {
	display:block;
	text-align:center;
	margin:0 auto 1em;
}
.tagdata {
	font-size:0.8em;
	color:#a8a8a8;
	clear:both;
}
.tagcloud {
	line-height:150%;
	margin:1em 0 2em;
}
.tagcloud a {
	border:none !important;
}
#searchselector {
	margin:0.5em 0 1em;
}
.post-brief {
	margin:0 0 2em;
}
.post-brief h3 {
	margin:0 0 0.2em;
}
.post-brief p.post-metadata {
	color:#a8a8a8;
	border:none;
	margin:0 0 0.2em;
	padding:0;
}
.post-brief p.excerpt {
	margin:0;
}
#comments {
	clear:both;
	padding:2em 0 0;
	overflow: hidden;
}
body.janus #comments .secondary {
	position:relative;
	width:100%;
}
body.janus #comments .secondary p {
	display:inline;
	font-size:11px;
	padding:0 5px 0 0;
}
#comments .meta {
	padding:0;
	width:480px !important;
}
#comments .meta .title {
	float:left;
	border:none;
	margin:0;
	padding:0.1em 0 0 10px;
}
.meta .comments-feed {
	float:right;
	text-align:right;
	height:20px;
	padding:0.75em 10px 0 0;
}
.meta .comments-feed a {
	font-size:0.8em;
	padding:5px 20px 5px 0;
	background:url('images/feed.gif') no-repeat 100% 50%;
}
#trackback-link {
	padding-top:0.5em;
	padding-bottom:0.5em;
	font-size:0.8em;
	color:#a8a8a8;
	clear:both;
	padding-left:10px;
	margin:0;
	background:url('images/trackback.gif') no-repeat 83% 20%;
}
#trackback-link p {
	border:0;
	margin:0;
	padding:0;
}
#trackback-link .secondary {
	font-weight:700;
}
.comment {
	border-top:1px solid #ccc;
	margin:0;
	padding:0.5em 10px;
	width:92%;
}
.comment-permalink {
	display:inline;
	margin:0;
}
.comment-author {
	display:inline;
	margin:0 0 0.5em;
}
.gravatar {
	border:none;
	float:right;
	margin:0 0 3px 6px;
}
.comment a:link .gravatar, .comment a:visited .gravatar, .comment a:hover, .gravatar, .comment a:active .gravatar {
	border:none;
}
body.janus .gravatar {
	float:left;
	margin:0 6px 3px 0;
}
.moderated {
	background:#fcffff;
}
.moderated .primary-span {
	border-bottom:1px dotted #e5e5e5;
	padding-bottom:0.5em;
	background:url('images/moderated.gif') no-repeat 100% 50% #ff9;
}
.author-comment {
	background:#FFF4EB;
}
.trackback {
	background:#f7f7f7;
	border-top:1px solid #ccc;
	margin:0;
	padding:0.5em 10px;
}
.trackback p {
	font-size:0.8em;
	margin:0;
}
.trackback .primary {
		
	}
#respond {
	border-top:1px solid #ccc;
	margin:0;
	padding:0 0 0 0;
}
.comments-info {
	font-size:0.8em;
	border-bottom:1px solid #ccc;
	margin:0.6em 0 1em 220px;
	padding:0 0 1.2em;
}
#commentPreview {
	margin:1em 0 0;
}
.navlist {
	list-style:none;
	margin:0 0 1em;
}
.navlist li {
	margin:0.5em 0;
}
.navlist ul {
	list-style:none;
	margin:0 0 0 1em;
}
.navlist ul li {
	margin:0.5em 0;
}
#wrapper .navlist a:link, #wrapper .navlist a:visited, #wrapper .navlist a:hover, #wrapper .navlist a:active {
	border-bottom:none;
}
.archivelist {
	list-style:none;
	width:95%;
	margin:0 0 1em;
}
.archivelist li {
	margin:0;
	padding:0;
}
.archivelist ul {
	list-style:none;
	margin:0 0 0 1.5em;
}
.archivelist ul li {
	margin:0;
	padding:0;
}
.archivelist li a:hover {
	color:#ff6600;
}
.postspermonth {
	list-style:none;
	margin:0.5em 0 1em;
}
.postspermonth li {
	margin:0.5em 0;
}
.bookmarks ul {
	list-style:none;
	margin:0 0 1em;
}
.bookmarks ul li {
	margin:0.5em 0;
}
#visit-header {
	display:block;
	width:78px;
	height:15px;
	text-indent:-5000px;
	background:url("elsewhere.gif") no-repeat;
}
#category-header {
	display: block;
	width: 200px;
	height: 13px;
	text-indent: -5000px;
	background: url("categories.gif") no-repeat;
}
#about-header {
	display:block;
	width:200px;
	height:20px;
	text-indent:-5000px;
	background:url("grain-feed.gif") no-repeat;
}
.texta {
	font-size:10px;
	border:1px solid #989898;
	background:#ccc;
}
.subscribe {
	color:#989898;
	font-family:'trebuchet ms', helvetica, sans-serif;
	font-size:84%;
	font-weight:700;
	border:1px solid #989898;
	background:#fff;
}
#recent ul {
	list-style:none;
	margin:0;
}
#recent li {
	margin:0;
}
h4.recent-title {
	margin:0;
}
p.recent-metadata {
	font-size:0.8em;
	color:#a8a8a8;
	margin:0;
}
p.recent-excerpt {
	line-height:1.4;
	margin:0 0 1em;
}
#theme-info {
	display:none;
	margin:0.5em 0 0;
	padding:1em 0 0.5em;
}
input {
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-size:100%;
	background:#fff;
}
.searchbox {
	width:200px;
	margin:0 0 1em;
}
#s {
	width:120px;
	border:1px solid #ccc;
	color:#545454;
	font-style:italic;
	padding:2px;
	background:#fafafa;
}
#s:focus {
	background:#fff;
}
#e {
	width:155px;
	color:#545454;
	font-style:italic;
	font-size:11px;
	margin:0;
	padding:0 4px;
	background:#fafafa;
}
.userinfo {
	color:#a8a8a8;
}
#info-input {
	margin-top:15px;
}
#info-input label {
	color:#a8a8a8;
	margin-top:4px;
}
#author, #email, #url {
	display:block;
	border:1px solid #ccc;
	color:#545454;
	padding:2px;
	background:#fafafa;
}
#comment-input {
}
#comment-input label {
	display:block;
	color:#a8a8a8;
	margin:0;
}
#comment-input textarea {
	width:98%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #ccc;
	color:#545454;
	margin:0 0 1.2em;
	padding:2px;
	background:#fafafa;
}
#author:focus, #email:focus, #url:focus, #comment:focus {
	background:#fff;
}
#submit {
	margin:0 0 1em;
}
a {
	text-decoration:none;
}
a:link, a:visited, a:active {
	color:#404040;
}
a:hover {
	color:#f90;
}
.content a:link, .content a:active, .content a:visited {
	border-bottom:0 solid #404040;
}
.content a:hover {
	border-bottom:0 solid #404040;
}
#wrapper .content h2 a:link, #wrapper .content h2 a:visited, #wrapper .content h2 a:hover, #wrapper .content h2 a:active, #wrapper .content h3 a:link, #wrapper .content h3 a:visited, #wrapper .content h3 a:hover, #wrapper .content h3 a:active, #wrapper .content h4 a:link, #wrapper .content h4 a:visited, #wrapper .content h4 a:hover, #wrapper .content h4 a:active {
	border:none;
}
.widgets .textwidget {
	padding:0 0 1em;
}
.widgets .rsswidget img {
	border:0;
}
.widgets .pagenav, .widgets .pagenav ul, .widgets .page_item, .widgets .widget_archives ul {
	list-style:none;
	margin:0;
	padding:0;
}
.widgets .navlist .page_item {
	margin:0.5em 0;
}
.widgets .navlist ul {
	list-style:none;
	margin:0 0 0 1em;
}
.widgets .navlist ul li {
	margin:0.5em 0;
}
.widgets .pagenav ul li {
	margin:0.5em 0;
}
.widgets .pagenav ul li ul {
	margin:0 0 0 1em;
}
.widgets .pagenav ul li ul li {
	margin:0.5em 0;
}
.widget_archives ul li {
	margin:0.5em 0;
}
.widgets .widget_archives, body .widgets .pagenav {
	margin:0 0 1em;
}
.widgets .widget_gsearch div {
	text-align:left !important;
	margin:0 0 1em;
}
.widgets #wp-calendar {
	width:100%;
}
.widget_calendar table, .widget_calendar tr, widget_calendar th {
	text-align:left;
}
.widgets #wp-calendar caption {
	text-align:left;
	font-size:0.8em;
	font-weight:400;
	color:#8fbf60;
	text-transform:uppercase;
	letter-spacing:0.1em;
	border-bottom:1px solid #e5e5e5;
	margin:0 0 0.8em;
	padding:0 0 0.4em;
}
.widget_search {
	margin:0 0 1em;
}
.widget_search #s {
	display:block;
	width:194px;
	border:1px solid #ccc;
	color:#545454;
	margin:0;
	padding:2px;
	background:#fafafa;
}
.widgets ul {
	list-style:none;
	margin:0;
	padding:0;
}
.widgets li {
	margin:0.5em 0;
}
.widgets ul li ul {
	margin:0 0 0 1em;
}
.widgets .widget {
	margin:0 0 1em;
}
#t_head {
	margin:0;
	padding:0 0 2px;
	background:#ccc;
}
#t_head ul {
	list-style:none;
	text-align:left;
	margin:0;
	padding:5px 0 0 10px;
	float:left;
}
#t_head ul li {
	display:inline;
	color:#fff;
	font-size:14px;
	font-weight:700;
	margin:0;
	padding:0;
	line-height:1.2;
}
#t_head a:hover{
	text-decoration:underline;
}

.top_searchbox {
	float: right;
	width: 240px;
}
.top_searchbox label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:700;
	letter-spacing:-1px;
	float:left;
	padding:7px 0 0;
	color:#333;
}
.top_searchbox form {
	_margin:1px 0 -1px;
	padding:0;
	float:left;
}
.top_searchbox form #s {
	width:163px;
	border:1px solid #ccc;
	color:#545454;
	font-style:italic;
	margin:5px 0 0 5px;
	_margin:3px 0 0 5px;
	padding:1px 2px;
	background:#fafafa;
}
.top_searchbox #s:focus {
	background:#fff;
}
.top_searchbox .submit {
	vertical-align:-3px;
	_vertical-align:-1px;
}
#t_head ul li a, active, visited {
	color: white;
	font-family:Arial, Helvetica, sans-serif;
}
#t_head ul li a:hover {
	color: white;
}
.heading {
	padding-top:20px;
}
#features {
	margin:0 5px 10px -5px;
}
#features ul {
	list-style:none;
	margin:0;
	padding:0;
}
#features ul li {
	border-bottom:1px solid #eee;
	margin:0;
	padding:4px;
}
#features ul li img {
	margin-left:0;
	width:188px;
}
#features li li {
	border:0;
	margin:0;
	padding:0;
}
#features ul li:hover {
	background:#eee;
}
#features ul li.title a, active, visited {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	color:#444;
}
#features ul li.title a:hover {
	color:#EF8C00;
}
#features ul li.date {
	font-size:10px;
	color:#999;
}
#features2 {
	margin:0;
}
#features2 ul {
	list-style:none;
	margin:0;
	padding:0px 10px 0 0;
}
#features2 ul li {
	border-bottom:1px solid #eee;
	margin:0 0 4px;
	padding:4px 0;
}
#features2 li li {
	border:0;
	margin:0;
	padding:0;
}
#features2 ul li.title a, active, visited {
	font-size:10px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	color:#444;
}
#features2 ul li.title a:hover {
	color:#EF8C00;
}
#features2 ul li.date {
	font-size:10px;
	color:#999;
}
#top_commentors {
	margin:20px 0 0;
}
#top_commentors h2 {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:-1px;
	color:#999;
	margin:0 0 5px;
	padding:0;
}
#top_commentors ul {
	list-style:none;
	margin:0;
	padding:0;
}
#top_commentors li {
	list-style:none;
}
#top_commentors li li {
	list-style:none;
	border-bottom:1px solid #eee;
	margin:0;
	padding:4px 10px;
}
#top_commentors li li a:hover {
	color:#f1c428;
}
#top_commentors li li:hover {
	background:#eee;
}
.list_style {
	margin:0;
}
.list_style ul {
	list-style:none;
	margin:0;
	padding:0 10px 0 0;
}
.list_style ul li {
	margin:0;
	padding:2px 0;
}
.list_style ul li a:hover {
	color:#ff6600;
}
.padding_250 {
	width:499px;
	padding-bottom:250px;
}
.padding_1000 {
	padding-bottom:1000px;
}
.page_padding {
	padding-bottom:1000px;
}
.secondary_inner_sub2 {
	background:#fff;
	width:210px;
	margin-left:-10px;
	padding:10px 0 0;
}
.secondary_inner_sub2 img {
	width:210px;
}
.secondary_inner_sub2 .caption {
	padding:0 0 10px;
}
.tagcloud a, active, visited {
	line-height:1.5;
	font-family:arial, verdana, tahoma, san-serif;
}
#tagcloud a:hover {
	text-decoration:underline;
	color:#F96233 !important;
	line-height:1.5;
}
#top_tags a, active, visited {
	display:block;
	font-size:10px !important;
	line-height:1.5;
}
#footer {
	background:#333;
	color:#fff;
	margin:0;
	padding:10px 0 0;

	width: 100%;
	overflow: hidden;
}
#footer div.content {
	padding: 0 20px;
}
#footer div.secondary {
	background: none;
}
#footer .content ul {
	margin:0;
	padding:0;
	list-style:none;
}
#footer .content ul li {
	margin:0;
	padding:0;
	display:inline;
	color:#666;
	line-height:1.5;
}
#footer .content ul li.title {
	color:#ff6f0f;
	font-weight:bold;
}
#footer .content ul li a, active, visited {
	color:#ddd;
}
#footer .content ul li a:hover {
	color:#ff6600;
}
#footer .copyright {
	background:#FFA500;
	margin:0;
	width: auto;
	position: relative;
	margin:0 -20px 0;
	padding: 5px 0 5px;
	top: 15px;

}
.entry h2 {
	/* border-bottom:1px dotted #444 !important; */
	padding:0!important;
	margin:0 0 10px !important;
}
p.metadata {
	margin-bottom:5px !important;
}
a.share_facebook {
	background:url("icon.gif") no-repeat left center;
	padding-left:18px;
	margin-left:5px;
}
.recent_comments strong {
	font-weight:normal;
	background:#eee;
	font-style:italic;
}
.recent_comments .commentor {
	background:#eee;
	font-style:italic;
}

/* poll */
.wp_poll_container {
	padding:0 0 15px;
	font-family:Arial, Helvetica, sans-serif;
}
.wp_poll_container h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
.wp_poll_container p.vote_button, .wp_poll_container p.poll_results, .wp_poll_container p.poll_end_date {
text-align:center !important;
padding:2px 0;
}
.wp_poll_container p.poll_end_date {
	font-weight:bold;
}
.wp_poll_container p.poll_question {
	font-weight:bold;
	text-align:left !important;
	padding:0 8px 10px;	
}
.wp_poll_container p.vote_button input.Buttons {
background:#FF6600 !important;
border:1px solid #CF5300;
border-left:0;
border-top:0;
color:#fff !important;
 }
.wp-polls-ans ul li {
	padding:0 0 5px !important;
}

#header {
	overflow: hidden;
	border-bottom: 5px solid darkblue;
}

/* clearfix */

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	display:inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
	display:block;
}
/* End hide from IE Mac */


/* flickr gallery */

.group * {
	margin:0 0 15px;
	padding:0;
	list-style:none;
}
.flickr_gallery {
		margin:15px 10px;
}
.flickr_gallery p.intro {
	font-size:12px;
	color:#999;
}
.groupMeta {
	background:#ccc;
	padding:0 10px;
	margin:0;
	color:#fff !important;
	clear:both;
}
.groupMeta h1 {
	color:#fff;
	font-weight:bold;
	font-size:14px;
	margin:0 0 5px;
	padding:5px 0;
	border-bottom:1px solid #fff;
}
.groupMeta h1 a,active,visited {
	font-size:14px;
}
.groupMeta a,active,visited {
	color:#fff;
	font-size:10px;
}
.groupMeta a:hover {
color:#F4652B;
}
.groupMeta .links {
	padding:0 0 5px;
}
ul.groupImages {
	width:100%;
	overflow:hidden;
	clear:both;
}
ul.groupImages li {
	float:left;
	overflow:hidden;
	margin:1px;
	width:75px;
	height:75px;	
}
ul.groupImages.two li img {
	border:1px solid #fff;
	width:75px;
	height:75px;
}
ul.groupImages.one li img {
	border:1px solid #fff;
	position:relative;
	top:-50px;
	left:-50px;
}
ul.groupImages li:hover img {
	border:1px solid #444;
}
#ad-deck {
text-align: center;
}
#ad-deck a, #ad-deck p.ads {
text-align: center !important;
}
#ad-deck p.ads { 
	line-height: 1.2;
	padding: 5px 0;
}
#ad-deck h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #666;
	color: #444;
	padding: 5px;
	text-align: left;
	font-size: 13px;
	word-spacing: -2px;
	font-family: arial, geneva, times;
}